#navv{
    color: white;
}
p{
text-align: center;
margin: 4%;
font-size: 30px;
background-color: rgb(8, 8, 8);
    color: white;
}
#tyme{
    font-size: 30px;
    background-color: rgb(8, 8, 8);
    color: white;
}